.separator {
    margin-bottom: 4.5rem;
    
    .title {
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 1rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 1rem;

        .card-separator {
            padding: 1rem;
            color: white;
            background: linear-gradient(to top right, #2a2a63, #2b142e);
            border-radius: 0.7rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // height: 350px;

            .up {
                .title {
                    font-size: 1.5rem;
                    font-weight: 500;
                    margin-bottom: 1rem;
                }

                p {
                    font-size: 1rem;
                    color: silver;
                    padding: 0 0.5rem 0 0;
                }
            }

            .down {
                padding: 1rem;
                text-align: end;
                font-size: 2rem;
                background: linear-gradient(to top right, #0f0f1a, #431c47);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}