.accordion-section {
    margin: 2rem 0;

    .title {
        color: white;
        font-size: 1.7rem;
        font-weight: bold;
        // margin-bottom: 1rem;
    }

    .list-accordions {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        padding: 1rem 0;

        .accordion {
            background-color: rgb(5, 5, 5);
            border: none;
        }

        .accordion-item {
            margin: 0.7rem 0;
            background-color: rgb(36, 33, 33);

            border-radius: 0;
            border: none;

            .accordion-header {
                border: none;
                color: white;

                > button {
                    font-size: 1.5rem;
                    font-weight: 500;
                    background-color: rgb(36, 33, 33);
                    border: none;
                    border-radius: 0;
                    color: white;
                    padding: 1.5rem 1rem;
                }
            }

            .accordion-body {
                background-color: rgb(36, 33, 33);
                margin-top: 0.05rem;
                border: none;
                color: white;
                font-weight: 400;
                font-size: 1.5rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .accordion-section {
        .list-accordions {
            .accordion-item {
                margin: 0.3rem 0;

                .accordion-header {
                    border: none;
                    color: white;

                    > button {
                        font-size: 1.1rem;
                    }
                }

                .accordion-body {
                    font-size: 1.1rem;
                }
            }
        }
    }
}
